* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
}

body {
    background-color: black;
    color: #CCAB84;
    height: 101vh;
    /* width: 100vw; */
    /* overflow: hidden; */
}

div.wrap {
    margin: 5px auto;
    width: 95%;
    /* height: 100vh; */
    overflow: hidden;
}

.clearfix {
    content: "";
    display: block;
    clear: both;
}

section.gora {
    position: fixed;
    top: 0;
    left: 1%;
    right: 1%;
    height: 90px;
    background-color: black;
}

div.logohome {
    width: 100%;
    padding: 5px 10px;
    color: #CCAB84;
    border-bottom: 1px solid #CCAB84;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: black;
    clear: both;
}

.logohome i {
    font-size: 25px;
    padding: 10px;
    border: 2px solid #CCAB84;
    border-radius: 50%;
}

i.fas.fa-home {
    color: #CCAB84;
    cursor: pointer;
}

.logohome a:nth-child(2) {
    color: #CCAB84;
    text-decoration: none;
    line-height: 48px;
    float: right;
}

div.menuicon {
    text-align: center;
    position: absolute;
    top: 60px;
    right: 10px;
    width: 100%;
    /* transform: translateX(-50%); */
    background-color: black;
    /* clear: both; */
}


.menuicon i {
    display: none;
    font-size: 25px;
    padding: 10px;
    /* border: 2px solid #CCAB84; */
    /* border-radius: 50%; */

}

i.active {
    display: block;
    float: right;
    padding-right: 15px;
}


nav {
    position: fixed;
    top: 90px;
    width: 100%;
    left: -100%;
    transition: .5s;
    z-index: 2;
    background-color: black;
}

nav.active {
    position: fixed;
    top: 95px;
    left: 0;
    /* transition: .5s; */
}

ul {
    display: flex;
    flex-wrap: wrap;
}

.navi li {
    border: 1px solid #CCAB84;
    padding: 5px 10px;
    width: 50%;
    list-style: none;
    text-align: center;
    cursor: pointer;
}


article.front.active {
    position: absolute;
    top: 40vh;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    transition: .6s;
    z-index: -1;
}

article.front.none {
    display: none;
}

article.front {
    position: absolute;
    top: 130px;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    transition: .6s;
    z-index: -1;
}

.front h1 {
    text-align: center;
    margin: 10px auto;
    width: 100%;
}

.front img {
    background-image: url(../serwis/img/miniaturki/naprawy+telefonów.jpg);
    width: 65%;
    height: 65%;
    margin: 10px auto;
}

.front li {
    text-align: center;
    margin: 7px auto;
    width: 93%;
}

.front p {
    width: 33%;
    text-align: center;
    padding: 15px 15px;
}

.front i {
    color: #CCAB84;
    text-decoration: none;
}

.front a {
    color: #CCAB84;
    text-decoration: none;
}

article.of {
    display: none;
    top: 120px;
    width: 85%;
    margin: 120px auto;
    text-align: center;

}

article.of.active {
    display: block;
    margin: 120px auto;
    text-align: center;
}

.of h2 {
    font-size: 20px;
    padding: 8px 25px;
}

.of p {
    padding: 4px 0;
}

.of li {
    font-size: 18px;
    font-weight: 700;
    padding: 4px 0;
}